<div id="modal">
    <form>
        <label>
            Nome:
            <input type="text" name="nome" id="nome" [(ngModel)]="novoContato.name">
        </label>
        <label>
            E-mail:
            <input type="email" name="email" id="email" [(ngModel)]="novoContato.email">
        </label>
        <label>
            Telefone:
            <div *ngFor="let telefone of novoContato.telefones; let i = index;  trackBy: track">
                <input type="tel" name="telefone_{{i}}"  [(ngModel)]="novoContato.telefones[i]">
                <a *ngIf="i==0" ><i class="material-icons">add_circle</i></a>
                <a class="remove" *ngIf="i!=0" ><i class="material-icons">remove_circle</i></a>
            </div>
        </label>
        <div class="controles">
            <button class="link" type="button" (click)="fecharModalClick()">Cancelar</button>
            <button type="button">Adicionar</button>
        </div>

    </form>
</div>